{% extends 'myapp/base.html' %}
{% block body %}
ml lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ product_object.image }}" alt="">
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ product_object.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Pilna kaina € {{ product_object.price }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Kaina su nuolaida €{{ product_object.discount_price }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ product_object.description }}
                    </div>
                </div>
        </div>
    </div>
    </br>
  <h4>Atsiliepimai:</h4>
    {% if product_object.products_review_set.all %}
    {% for review in product_object.products_review_set.all %}
      <hr>
      <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em>
      <p>{{ review.content }}</p>
    {% endfor %}
  {% else %}
    <p>Preke neturi atsiliepimų</p>
  {% endif %}

{% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.content }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
  {% endif %}
</body>
</html>
{% endblock %}